.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    border-radius: 10px;

    .imagen{
        border-radius: 10px;
        cursor: pointer;
    }

    .fab-icon{
        

                    .fab-icon:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
    }


    .produtos{
        margin-top: 35px;
        margin-left: 40px;
        
    }
}